.popup__container {
  padding: 34px 36px;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 921px) {
  .popup__container {
    padding: 25px 22px;
    max-width: calc(100% - 38px);
    min-height: 322px;
  }
}
