.popup__button {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  border: none;
  transition: 0.3s;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.popup__button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 921px) {
  .popup__button {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    height: 46px;
  }
}
